/*La font en css
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$clr-black: #000;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin fontBody {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  @include fontBody;
  line-height: 1.5;
}

/*  Le Load-Spiner */

.spinner_loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: $color-primary;*/
  background-color: #f1f1f1;
  animation: loader 0.6s 1.55s both;
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  &_content {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    //background: #f1f1f1;
    background: #0d2323;
    animation: animate 2s linear infinite;

    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      30% {
        box-shadow: 0 0 10px #ff79da, 0 0 20px #ff79da, 0 0 30px #ff79da,
          0 0 40px #99e2d0, 0 0 50px #99e2d0, 0 0 60px #99e2d0, 0 0 70px #99e2d0,
          0 0 80px #99e2d0, 0 0 90px #99e2d0, 0 0 100px #99e2d0;
      }
      100% {
        transform: rotate(360deg);
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        to top,
        transparent,
        rgba(153, 226, 208, 0.4)
      );
      background-size: 100px 180px;
      background-repeat: no-repeat;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 45%;
      /*trasnform: translateX(-10%);*/
      width: 25px;
      height: 25px;
      background: #99e2d0 /*#00fff9*/;
      border-radius: 50%;
      z-index: 10;
      box-shadow: 0 0 10px #99e2d0, 0 0 20px #99e2d0, 0 0 30px #99e2d0,
        0 0 40px #99e2d0, 0 0 50px #99e2d0, 0 0 60px #99e2d0, 0 0 70px #99e2d0,
        0 0 80px #99e2d0, 0 0 90px #99e2d0, 0 0 100px #99e2d0;
    }
  }
  &_span {
    position: absolute;
    transform: translate( -50%, -50% )
    top: 25px;
    left: 25px;
    bottom: 0px;
    width: 150px;
    height: 150px;
    //background-color: $color-primary;
    background: #102626;
    border-radius: 50%;
  }
}

/*  Page d'Accueil*/
.header {
  @include flexCenter(column);
  &_img {
    width: 150px;
    padding: 1em;
  }
  &_location {
    @include flexCenter(row);
    width: 100%;
    background-color: #dfdede;
    box-shadow: inset 1px 5px 5px 0px #a3a3a3;
    padding: 0.5em 0;
  }
  &_location_icon {
    margin-right: 1.5em;
    margin-left: 4em;
  }
  &_location_place {
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 16px;
  }
  &_content {
    text-align: center;
    background-color: #eae9e9;
    width: 100%;
  }
  &_title {
  }
  &_subtitle {
  }
  &_cta {
    display: inline-block;
    margin-bottom: 2em;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff79da, #9356dc 80%);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      box-shadow: 0px 0px 7px 6px #c6a4c2;
      /* propriété permettant d'inverser color et background mais avec Darken en sass je ne sais pas faire
      background: linear-gradient(135deg, #ff79da, #9356dc 80%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;*/
      background: darken($color-primary, 10%);
    }
  }
}

.running {
  //padding: 0.5em;

  &_title {
    font-weight: 700;
    padding-left: 1em;
  }
  &_lists {
    //padding: 0.5em;
    padding-left: 0;
    margin: 0 auto;
    width: 84%;
  }
  &_list {
    display: flex;
    align-items: center;
    background-color: #f4f1f1;
    box-shadow: 0px 3px 5px 1px #bdbdbd;
    padding: 10px 20px 10px 20px;
    border-radius: 32px;
    margin: 1.5em 0;
    position: relative;
    &:hover {
      background: darken(#f4f1f1, 5%);
    }
    &::before {
      content: "1";
      color: #fff;
      position: absolute;
      left: -10px;
      background-color: $color-primary;
      padding: 2px 10px 2px 10px;
      border-radius: 150117px;
    }
    &:nth-child(2)::before {
      content: "2";
    }
    &:nth-child(3)::before {
      content: "3";
    }
  }
  &_icon {
    margin: 0 1.25em;
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.restaurant {
  height: 1500px;
  background-color: #f4f1f1;
  &_title {
    padding: 1em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 3em;
  &_link {
    text-decoration: none;
    cursor: pointer;
  }
  &_img {
    width: 100%;
    height: 220px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
  }

  &_pin {
    position: absolute;
    right: 13px;
    top: 43px;
    color: #19c399;
    background-color: #99e2d0;
    padding: 5px 15px;
    @include fontBody;
  }
  &_content {
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 3px 5px 1px #bdbdbd;
    padding: 0.5em 0.75em 0.75em 1em;
    @include fontBody;
    color: $clr-black;
    background-color: #fff;
  }
  &_textcontent {
    @include fontBody;
  }
  &_title {
    margin: 0;
  }
  &_subtitle {
    margin: 0;
  }
  &_heart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: 1.5rem;
  }
  &_heart_dark {
    position: absolute;
    opacity: 0;
    &:hover {
      opacity: 1;
      background-image: linear-gradient(135deg, #ff79da, #9356dc 80%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-transition: 0.9s;
      transition: 0.5s;
    }
  }
  &_heart_light {
    position: absolute;
    &:hover {
      opacity: 1;
    }
  }

  // &_heartTest {
  //   width: 20px;
  //   height: 20px;
  //   transform: translate(-50%, -50%);
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     background-color: #19c399;
  //     height: 100%;
  //     width: 100%;
  //     transform: translateY(-50%);
  //     border-radius: 50%;
  //   }
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     background-color: #9356dc;
  //     height: 100%;
  //     width: 100%;
  //     transform: translateX(-50%);
  //     border-radius: 50%;
  //   }
}

.footer {
  background-color: #353535;
  color: #fff;
  padding: 0.5em;
  &_title {
    font-family: "Shrikhand", cursive;
    margin: 0;
    padding-left: 1.5em;
  }
  &_lists {
    list-style: none;
  }
  &_link {
    text-decoration: none;
    color: #fff;
    @include fontBody;
  }
  &_icon {
    margin-right: 0.5em;
  }
}

// = Les pages Menus

.restaurantHeader {
  // @include flexCenter(row);
  margin-left: 2em;
  position: relative;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.4s ease-out forwards;
  &_link {
    color: #000;
    //transition: ease-in-out 5sec;
    //     &:hover{
    //       background-color: #f2f2f2;
    // border-radius: 150117pc;
    // padding: 1em;
    //     }
  }
  &_link--backgroundShadow {
    background-color: #ffff;
    padding: 0.5em;
    border-radius: 220313px;
    transition: all 500ms ease-out;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  &_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// .backAccueil:hover {
// background-color: #f2f2f2;
// padding: .5em;
// border-radius: 220313px;

// }
.restaurantPicture {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.6s ease-out forwards;
}
// Partie principale du menu
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  margin-top: -4.5em;
  position: relative;
  z-index: 1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f4f1f1;
  font-size: clamp(0.8rem, 1.9vw, 1.5rem);
  /*transform: translateY(50px);
  opacity: 0;
  animation: Appear 0.1s 0.9s ease-out forwards;*/
  &_head {
    display: flex;
    justify-content: space-between;
  }
  &_title {
    font-family: "Shrikhand", cursive;
  }
}
// ==Section Starter
.menu_starter {
  //margin-left: 1em;
  &_title {
    border-bottom: 4px solid $color-tertiary;
    width: 35px;
  }
}
.label {
  display: flex;
  background-color: #fff;
  border-radius: 22px;
  justify-content: space-between;
  //padding: 0.5em;
  margin: 1em 0;
  cursor: url("/Public/img/mickey_mouse_handCursor.png"), pointer;
  transition: width 300ms 100ms ease-in-out, translateX 300ms 100ms ease-in-out;
  position: relative;
  /*transform: translateY(-30px);*/
  opacity: 0;
  animation: Appear-on 0.4s 1s ease-out, Appear 0.4s ease-out forwards;

  @keyframes Appear-on {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  &--d1 {
    animation-delay: 200ms;
  }
  &--d2 {
    animation-delay: 400ms;
  }
  &--d3 {
    animation-delay: 600ms;
  }
  &--d4 {
    animation-delay: 200ms;
  }
  &--d5 {
    animation-delay: 400ms;
  }
  &--d6 {
    animation-delay: 600ms;
  }
  &--d7 {
    animation-delay: 200ms;
  }
  &--d8 {
    animation-delay: 400ms;
  }
  &--d9 {
    animation-delay: 600ms;
  }
  &:hover &_content {
    width: 80%;
  }
  * &:hover &_actions {
    transform: scaleX(1);
  }
  &:hover &_check {
    transform: rotate(360deg);
  }
  &:hover &_price {
    transform: translateX(-50px);
  }
  &_content {
    padding-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: width 3000ms 100ms ease-in-out;
    /* &:hover {
      width: 50%;
    }*/
  }
  &_title {
    margin: 0;
    padding: 0.5em 0 0 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &_subtitle {
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &_price {
    display: flex;
    font-weight: 700;
    margin-bottom: 0.5em;
    /*align-self: end;
    margin-right: -7em;*/
    position: absolute;
    bottom: 0;
    right: 2em;
    transition: transform 300ms 100ms ease-in-out;
    /*&:hover {
      transform: translateX(px);
    }*/
  }
  &_actions {
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #99e2d0;
    width: 22%;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms 100ms ease-in-out;
    &:hover {
      transform: scaleX(1);
    }
  }
  &_check {
    align-self: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    padding: 5px;
    transform: rotate(0deg);
    transition: transform 300ms 100ms ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

@keyframes Appear {
  100% {
    opacity: 1;
    transform: none;
  }
}

/*@keyframes Appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}*/

.fa-check {
  color: #99e2d0;
}
.menu_btn {
  @include flexCenter(column);
  &_order {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg, #ff79da, #9356dc 80%);
    color: #f4f1f1;
    margin: 4em 0 4em 0;
    padding: 0.8em 3em;
    border-radius: 25px;
    box-shadow: 0px 2px 5px 2px #bdbdbd;
    transition: transform 0.3s ease-in-out;
    &:hover,
    :active {
      transform: scale(1.05);
      text-transform: uppercase;
      background: darken($color-secondary, 10%);
    }
    &:active {
      box-shadow: 0px 0px 7px 6px #c6a4c2;
    }
  }
}

/*Responsive Media Queries*/

/* Mq Pour les écrans dont la largeur est supérieur à 600px*/

@media screen and (min-width: 600px) {
  /* Page Menu*/

  .menu_wrapper {
    font-size: clamp(1rem, 1.2vw, 2.5rem);
  }
  .label:hover .label_price {
    transform: translateX(-95px);
  }
}

/* Mq Pour les écrans dont la largeur est supérieur à 767px*/
@media screen and (min-width: 767px) {
  /* Page d'acceuil*/
  body {
    //background: orange;
  }
  .restaurantPicture {
    height: 350px;
    object-position: 0 -95px;
  }
  /*Pages Menu*/
  .menu {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    &_wrapper {
      font-size: clamp(1rem, 1.2vw, 2.5rem);
    }
  }
}
/* Mq Pour les écrans dont la largeur est  supérieur à 991px*/
@media screen and (min-width: 1200px) {
  /* Page D'accueil*/
  body {
    //background-color: lightpink;
  }
  main {
    display: flex;
    justify-content: space-around;
    height: max-content;
  }
  .running {
    flex: 1;
    margin-top: 2em;
    &_title {
      text-align: center;
    }
  }
  .restaurant {
    flex: 2;
    height: 800px;
    position: relative;
    background-color: transparent;
    &_title {
      text-align: center;
    }
  }

  .card_link {
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 8px;
    width: 40%;
    &:hover {
      outline-width: 6px;
      outline-color: #99e2d0;
      outline-style: solid;
      transform: scale(1.2);
      z-index: 15;
      &:not(:hover) {
        transform: scale(0.52);
      }
    }
    &_1 {
      right: 7em;
      top: 7em;
      transform: rotate(12deg);
      transform-origin: top left;
      z-index: 11;
    }
    &_2 {
      right: 20em;
      top: 10em;
      transform: rotate(38deg);
      transform-origin: top;
    }
    &_3 {
      right: 15em;
      top: 21em;
      transform: rotate(-12deg);
      transform-origin: top right;
    }
    &_4 {
      right: 32em;
      top: 21em;
      transform: rotate(17deg);
      transform-origin: top left;
    }
  }

  /*Pages Menu*/
  .restaurantPicture {
    height: 500px;
    object-position: 0 -350px;
  }
  .menu {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    //font-size: clamp(1rem, 1.2vw, 2.5rem);
    font-size: clamp(0.8rem, 1.9vw, 1.5rem);
    &_head {
      margin-top: 1.5em;
      padding: 0 5em;
    }
    &_wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      padding: 2em;
      &:hover::before {
        height: 30%;
        width: 15%;
      }
      &::before {
        content: "";
        position: absolute;
        width: 5%;
        height: 10%;
        top: -5px;
        left: -5px;
        border-top: 5px solid #9356dc;
        border-left: 5px solid #9356dc;
        transition: all 0.5s;
      }
      &:hover::after {
        height: 30%;
        width: 15%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 5%;
        height: 10%;
        bottom: -10px;
        right: -5px;
        border-bottom: 5px solid #9356dc;
        border-right: 5px solid #9356dc;
        transition: all 0.25s;
      }
    }
  }
  .menu_width {
    max-width: 33%;
  }
  .label_price {
    right: 1em;
  }
  .label:hover .label_price {
    transform: translateX(-58px);
  }

  @media screen and (min-width: 1400px) {
    .label:hover .label_price {
      transform: translateX(-60px);
    }
  }
}
