@charset "UTF-8";
/* --- GENERALITES --- */
/**    @variables   **/
/**       @mixin   **/
/* ---  = BODY --- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  line-height: 1.5;
}

/**   @subsection Load-Spiner   **/
.spinner_loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  animation: loader 0.6s 1.55s both;
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.spinner_loader_content {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #0d2323;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  30% {
    box-shadow: 0 0 10px #ff79da, 0 0 20px #ff79da, 0 0 30px #ff79da, 0 0 40px #99e2d0, 0 0 50px #99e2d0, 0 0 60px #99e2d0, 0 0 70px #99e2d0, 0 0 80px #99e2d0, 0 0 90px #99e2d0, 0 0 100px #99e2d0;
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner_loader_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(153, 226, 208, 0.4));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.spinner_loader_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  width: 25px;
  height: 25px;
  background: #99e2d0;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px #99e2d0, 0 0 20px #99e2d0, 0 0 30px #99e2d0, 0 0 40px #99e2d0, 0 0 50px #99e2d0, 0 0 60px #99e2d0, 0 0 70px #99e2d0, 0 0 80px #99e2d0, 0 0 90px #99e2d0, 0 0 100px #99e2d0;
}
.spinner_loader_span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 25px;
  left: 25px;
  bottom: 0px;
  width: 150px;
  height: 150px;
  background: #102626;
  border-radius: 50%;
}

/*  --- = PAGE D'ACCUEIL --- */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header_img {
  width: 150px;
  padding: 1em;
}
.header_location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #dfdede;
  box-shadow: inset 1px 5px 5px 0px #a3a3a3;
  padding: 0.5em 0;
}
.header_location_icon {
  margin-right: 1.5em;
  margin-left: 4em;
}
.header_location_place {
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 16px;
}
.header_content {
  text-align: center;
  background-color: #eae9e9;
  width: 100%;
}
.header_cta {
  display: inline-block;
  margin-bottom: 2em;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  background: linear-gradient(135deg, #ff79da, #9356dc 80%);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.header_cta:hover {
  box-shadow: 0px 0px 7px 6px #c6a4c2;
  /* propriété permettant d'inverser color et background mais avec Darken en sass je ne sais pas faire
  background: linear-gradient(135deg, #ff79da, #9356dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;*/
  background: #782cd3;
}

.running_title {
  font-weight: 700;
  padding-left: 1em;
}
.running_lists {
  padding-left: 0;
  margin: 0 auto;
  width: 84%;
}
.running_list {
  display: flex;
  align-items: center;
  background-color: #f4f1f1;
  box-shadow: 0px 3px 5px 1px #bdbdbd;
  padding: 10px 20px 10px 20px;
  border-radius: 32px;
  margin: 1.5em 0;
  position: relative;
}
.running_list:hover {
  background: #e9e3e3;
}
.running_list::before {
  content: "1";
  color: #fff;
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  padding: 2px 10px 2px 10px;
  border-radius: 150117px;
}
.running_list:nth-child(2)::before {
  content: "2";
}
.running_list:nth-child(3)::before {
  content: "3";
}
.running_icon {
  margin: 0 1.25em;
}
.running_icon:hover {
  color: #9356dc;
  cursor: pointer;
}

.restaurant {
  height: 1500px;
  background-color: #f4f1f1;
}
.restaurant_title {
  padding: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 3em;
}
.card_link {
  text-decoration: none;
  cursor: pointer;
}
.card_img {
  width: 100%;
  height: 220px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}
.card_pin {
  position: absolute;
  right: 13px;
  top: 43px;
  color: #19c399;
  background-color: #99e2d0;
  padding: 5px 15px;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
}
.card_content {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 3px 5px 1px #bdbdbd;
  padding: 0.5em 0.75em 0.75em 1em;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  color: #000;
  background-color: #fff;
}
.card_textcontent {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
}
.card_title {
  margin: 0;
}
.card_subtitle {
  margin: 0;
}
.card_heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-size: 1.5rem;
}
.card_heart_dark {
  position: absolute;
  opacity: 0;
}
.card_heart_dark:active {
  opacity: 1;
  background-image: linear-gradient(135deg, #ff79da, #9356dc 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.9s;
  transition: 0.5s;
}
.card_heart_light {
  position: absolute;
}
.card_heart_light:active {
  opacity: 1;
}

/*  --- = FOOTER  ---  */
.footer {
  background-color: #353535;
  color: #fff;
  padding: 0.5em;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding-left: 1.5em;
}
.footer_lists {
  list-style: none;
}
.footer_link {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1rem, 1.2vw, 2.5rem);
}
.footer_icon {
  margin-right: 0.5em;
}

/* ****************************  */
/*  --- = PAGE MENU  ---*/
.restaurantHeader {
  margin-left: 2em;
  position: relative;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.4s ease-out forwards;
}
.restaurantHeader_link {
  color: #000;
}
.restaurantHeader_link--backgroundShadow {
  background-color: #ffff;
  padding: 0.5em;
  border-radius: 220313px;
  transition: all 500ms ease-out;
}
.restaurantHeader_link--backgroundShadow:hover {
  background-color: #f2f2f2;
}
.restaurantHeader_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.restaurantPicture {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.6s ease-out forwards;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  margin-top: -4.5em;
  position: relative;
  z-index: 1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f4f1f1;
  font-size: clamp(0.8rem, 1.9vw, 1.5rem);
  /*transform: translateY(50px);
  opacity: 0;
  animation: Appear 0.1s 0.9s ease-out forwards;*/
}
.menu_head {
  display: flex;
  justify-content: space-between;
}
.menu_title {
  font-family: "Shrikhand", cursive;
}

.menu_starter_title {
  border-bottom: 4px solid #99e2d0;
  width: 35px;
}

.label {
  background-color: white;
  margin: 9px 0;
  border-radius: 15px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.13);
  padding: 12px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  margin: 1em 0;
  cursor: url("/Public/img/mickey_mouse_handCursor.png"), pointer;
  transition: width 300ms 100ms ease-in-out, translateX 300ms 100ms ease-in-out;
  position: relative;
  /*transform: translateY(-30px);*/
  opacity: 0;
  animation: Appear-on 0.4s 1s ease-out, Appear 0.4s ease-out forwards;
}
@keyframes Appear-on {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.label--d1 {
  animation-delay: 200ms;
}
.label--d2 {
  animation-delay: 400ms;
}
.label--d3 {
  animation-delay: 600ms;
}
.label--d4 {
  animation-delay: 200ms;
}
.label--d5 {
  animation-delay: 400ms;
}
.label--d6 {
  animation-delay: 600ms;
}
.label--d7 {
  animation-delay: 200ms;
}
.label--d8 {
  animation-delay: 400ms;
}
.label--d9 {
  animation-delay: 600ms;
}
.label:hover .label_actions {
  margin-right: -12px;
}
.label:hover .label_check {
  transform: rotate(360deg);
}
.label_content {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1em;
  transition: width 3000ms 100ms ease-in-out;
}
.label_title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.label_subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.label_price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  transition: transform 300ms 100ms ease-in-out;
}
.label_actions {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.label_check {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(0deg);
  transition: transform 300ms 100ms ease-in-out;
}

@keyframes Appear {
  100% {
    opacity: 1;
    transform: none;
  }
}
.fa-check {
  color: #99e2d0;
}

.menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu_btn_order {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(135deg, #ff79da, #9356dc 80%);
  color: #f4f1f1;
  margin: 4em 0 4em 0;
  padding: 0.8em 3em;
  border-radius: 25px;
  box-shadow: 0px 2px 5px 2px #bdbdbd;
  transition: transform 0.3s ease-in-out;
}
.menu_btn_order:hover,
.menu_btn_order :active {
  transform: scale(1.05);
  text-transform: uppercase;
  background: #ff46cc;
}
.menu_btn_order:active {
  box-shadow: 0px 0px 7px 6px #c6a4c2;
}

/*  --- = MEDIA QUERIES  ---  */
/* Mq Pour les écrans dont la largeur est supérieur à 600px*/
@media screen and (min-width: 600px) {
  /* Page Menu*/
  .menu_wrapper {
    font-size: clamp(1rem, 1.2vw, 2.5rem);
  }
}
/* Mq Pour les écrans dont la largeur est supérieur à 767px*/
@media screen and (min-width: 767px) {
  /* Page d'acceuil*/
  .restaurantPicture {
    height: 350px;
    object-position: 0 -95px;
  }

  /*Pages Menu*/
  .menu {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  .menu_wrapper {
    font-size: clamp(1rem, 1.2vw, 2.5rem);
  }
}
/* Mq Pour les écrans dont la largeur est  supérieur à 991px*/
@media screen and (min-width: 991px) {
  /* Page D'accueil*/
  main {
    display: flex;
    justify-content: space-around;
    height: max-content;
  }

  .running {
    flex: 1;
    margin-top: 2em;
  }
  .running_title {
    text-align: center;
  }

  .restaurant {
    flex: 2;
    height: 800px;
    position: relative;
    background-color: transparent;
  }
  .restaurant_title {
    text-align: center;
  }

  .card_link {
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 8px;
    width: 40%;
  }
  .card_link:hover {
    outline-width: 6px;
    outline-color: #99e2d0;
    outline-style: solid;
    transform: scale(1.2);
    z-index: 15;
  }
  .card_link:hover:not(:hover) {
    transform: scale(0.52);
  }
  .card_link_1 {
    right: 7em;
    top: 7em;
    transform: rotate(12deg);
    transform-origin: top left;
    z-index: 11;
  }
  .card_link_2 {
    right: 20em;
    top: 10em;
    transform: rotate(38deg);
    transform-origin: top;
    z-index: 12;
  }
  .card_link_3 {
    right: 15em;
    top: 21em;
    transform: rotate(-12deg);
    transform-origin: top right;
  }
  .card_link_4 {
    right: 32em;
    top: 21em;
    transform: rotate(17deg);
    transform-origin: top left;
  }

  .card_heart_dark {
    position: absolute;
    opacity: 0;
  }
  .card_heart_dark:hover {
    opacity: 1;
    background-image: linear-gradient(135deg, #ff79da, #9356dc 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-transition: 0.9s;
    transition: 0.5s;
  }
  .card_heart_dark_heart_light {
    position: absolute;
  }
  .card_heart_dark_heart_light:hover {
    opacity: 1;
  }

  /*Pages Menu*/
  .restaurantPicture {
    height: 500px;
    object-position: 0 -350px;
  }

  .menu {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    font-size: clamp(0.8rem, 1.9vw, 1.5rem);
  }
  .menu_head {
    margin-top: 1.5em;
    padding: 0 5em;
  }
  .menu_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding: 2em;
  }
  .menu_wrapper:hover::before {
    height: 30%;
    width: 15%;
  }
  .menu_wrapper::before {
    content: "";
    position: absolute;
    width: 5%;
    height: 10%;
    top: -5px;
    left: -5px;
    border-top: 5px solid #9356dc;
    border-left: 5px solid #9356dc;
    transition: all 0.5s;
  }
  .menu_wrapper:hover::after {
    height: 30%;
    width: 15%;
  }
  .menu_wrapper::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 10%;
    bottom: -10px;
    right: -5px;
    border-bottom: 5px solid #9356dc;
    border-right: 5px solid #9356dc;
    transition: all 0.25s;
  }
  .menu_starter {
    width: 30%;
  }
  .menu_dish {
    width: 30%;
  }
  .menu_dessert {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
