/*  --- = PAGE MENU  ---*/

.restaurantHeader {
  margin-left: 2em;
  position: relative;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.4s ease-out forwards;
  &_link {
    color: #000;
  }
  &_link--backgroundShadow {
    background-color: #ffff;
    padding: 0.5em;
    border-radius: 220313px;
    transition: all 500ms ease-out;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  &_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.restaurantPicture {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin-top: 1em;
  opacity: 0;
  animation: Appear 0.9s 0.6s ease-out forwards;
}
// Partie principale du menu
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  margin-top: -4.5em;
  position: relative;
  z-index: 1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f4f1f1;
  font-size: clamp(0.8rem, 1.9vw, 1.5rem);
  /*transform: translateY(50px);
    opacity: 0;
    animation: Appear 0.1s 0.9s ease-out forwards;*/
  &_head {
    display: flex;
    justify-content: space-between;
  }
  &_title {
    font-family: "Shrikhand", cursive;
  }
}
// Section Starter
.menu_starter {
  //margin-left: 1em;
  &_title {
    border-bottom: 4px solid $color-tertiary;
    width: 35px;
  }
}
.label {
  background-color: white;
  margin: 9px 0;
  border-radius: 15px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.13);
  padding: 12px;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  margin: 1em 0;
  cursor: url("/Public/img/mickey_mouse_handCursor.png"), pointer;
  transition: width 300ms 100ms ease-in-out;
  position: relative;
  /*transform: translateY(-30px);*/
  opacity: 0;
  animation: Appear-on 0.4s 1s ease-out, Appear 0.4s ease-out forwards;

  &--d1 {
    animation-delay: 200ms;
  }
  &--d2 {
    animation-delay: 400ms;
  }
  &--d3 {
    animation-delay: 600ms;
  }
  &--d4 {
    animation-delay: 200ms;
  }
  &--d5 {
    animation-delay: 400ms;
  }
  &--d6 {
    animation-delay: 600ms;
  }
  &--d7 {
    animation-delay: 200ms;
  }
  &--d8 {
    animation-delay: 400ms;
  }
  &--d9 {
    animation-delay: 600ms;
  }
  &:hover &_actions {
    margin-right: -12px;
  }
  &:hover &_check {
    transform: rotate(360deg);
  }
  &_content {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 1em;
    transition: width 3000ms 100ms ease-in-out;
  }
  &_title {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &_subtitle {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &_price {
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    transition: transform 300ms 100ms ease-in-out;
  }
  &_actions {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }
  &_check {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(0deg);
    transition: transform 300ms 100ms ease-in-out;
  }
}

.fa-check {
  color: $color-tertiary;
}
